Repository alfrunes/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*

chore: Add x-forwarded-uri to useradm verify accesslogs
  backend/services/useradm/api/http/api_useradm.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(gui): billing profile state not updated for trial accounts
  frontend/src/js/components/subscription/SubscriptionPage.tsx
Due: none

chore(deviceconnect): use rest.utils to respond with errors
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(deviceconnect): fixup variable assignment on chan receive
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

fix(deviceconnect): Race condition sending websocket error to user
  backend/services/deviceconnect/api/http/management.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

feat(pkg): Added library for connection oriented streams using nats
  backend/pkg/stream/nats.go
  backend/pkg/stream/stream.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

FIXME: Integrate connection oriented streams with NATS
  backend/services/deviceconnect/api/http/device.go
  backend/services/deviceconnect/api/http/management.go
  backend/services/deviceconnect/app/app.go
  backend/services/deviceconnect/client/nats/client.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(main-next): release 4.2.0-rc
  .release-please-manifest.json
  CHANGELOG.md
Due: none

chore(main-next-reverse): release 4.2.0-rc
  .release-please-manifest.json
  CHANGELOG.md
Due: none

feat(inventory): Move all documents to single database namespace
  backend/services/inventory/inv/inventory.go
  backend/services/inventory/main.go
  backend/services/inventory/store/datastore.go
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/migrations.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

feat: Getting closer to improved schema
  backend/services/inventory/api/http/api_inventory.go
  backend/services/inventory/model/device.go
  backend/services/inventory/model/filters.go
  backend/services/inventory/store/mongo/bson.go
  backend/services/inventory/store/mongo/datastore_mongo.go
  backend/services/inventory/store/mongo/migration_1_0_0.go
  backend/services/inventory/store/query.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

chore(deviceauth): sync-device-inventory reset the clock for every 1000 devices
  backend/services/deviceauth/cmd/maintenance.go
  backend/services/deviceauth/store/mongo/datastore_mongo.go
  backend/services/deviceauth/store/mongo/datastore_mongo_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

test: track Golang version for integration-tests-ng
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

test(workflows): acceptance tests use consistent coverage directory
  backend/services/workflows/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

chore: cleanup the backend/tests/Dockerfile.integration
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration

fix(inventory): allow `.` (period) in group names
  backend/pkg/rules/patterns.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration

ci(renovate): add gomodTidyAll to postUpdateOptions
  renovate.json5
Due: none
